@use '../abstracts/' as *;

//Font Style
body {
    font-family: $karla-font;
}

.area {
    p {
        @include fontsett(1rem, 400);
    }
}

.area {
    .second-header,
    .third-header {
        color: hsl(204, 43%, 93%);
        @include fontsett(1.1rem, 700)
    }
}

.first-header {
    color: $area-2;
    @include fontsett(1.1rem, 700)
}