// Resetting the whole document for starting up by 0

@mixin reset() {
    box-sizing: border-box;
    margin: 0;
}

// Font settings

@mixin fontsett($x, $y) {
    font-size: $x;
    font-weight: $y;
}