//Google Fonts
@font-face {
    font-family: 'Karla';
    src: url(https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap);
}
// Font variable
$karla-font: 'Karla', sans-serif;

// Font weight
$karla-regular: 400;
$karla-bold: 700;

// Font colors